body {
  justify-content: center;
  background-image: url('https://preview.redd.it/so-is-caseoh-the-new-nikocado-avocado-v0-i2zjeqwz57ed1.png?width=1080&crop=smart&auto=webp&s=b3858d3f8ac578edf77898a8223a84b2dace208e');
  background-position: center;
  background-size: 1500px;
}